div.et_pb_section.et_pb_section_2 {
    background-image: radial-gradient(circle at top left, rgb(233 242 213 / 9%) 1%, rgb(255 255 255 / 18%) 98%), url(../../uploads/2023/08/cuales-son-los-tipos-de-paneles-solares-mas-eficientes-13685.jpg)!important
}
.et_pb_section_2.et_pb_section {
    padding-top: 0vw;
    padding-bottom: 0vw
}
.et_pb_image_2 {
    width: 8%;
    max-width: 10%;
    text-align: center
}
.et_pb_text_3 h1 {
    font-family: 'Rubik', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF!important;
    line-height: 1.3em
}
.et_pb_text_3 {
    padding-left: 16px!important;
    margin-bottom: 0px!important;
    max-width: 800px
}
.et_pb_text_4 h2,
.et_pb_text_5 h2 {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2em
}
.et_pb_accordion_0.et_pb_accordion h5.et_pb_toggle_title,
.et_pb_accordion_0.et_pb_accordion h1.et_pb_toggle_title,
.et_pb_accordion_0.et_pb_accordion h2.et_pb_toggle_title,
.et_pb_accordion_0.et_pb_accordion h3.et_pb_toggle_title,
.et_pb_accordion_0.et_pb_accordion h4.et_pb_toggle_title,
.et_pb_accordion_0.et_pb_accordion h6.et_pb_toggle_title {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    color: #1B2031!important
}
.et_pb_accordion_0.et_pb_accordion .et_pb_toggle_close h5.et_pb_toggle_title,
.et_pb_accordion_0.et_pb_accordion .et_pb_toggle_close h1.et_pb_toggle_title,
.et_pb_accordion_0.et_pb_accordion .et_pb_toggle_close h2.et_pb_toggle_title,
.et_pb_accordion_0.et_pb_accordion .et_pb_toggle_close h3.et_pb_toggle_title,
.et_pb_accordion_0.et_pb_accordion .et_pb_toggle_close h4.et_pb_toggle_title,
.et_pb_accordion_0.et_pb_accordion .et_pb_toggle_close h6.et_pb_toggle_title {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    color: #1B2031!important
}
.et_pb_accordion_0.et_pb_accordion .et_pb_toggle_content {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    color: #0D0D0D!important
}
.et_pb_accordion_0.et_pb_accordion,
.dvppl_cf7_styler_0 .dipe-cf7 input:not([type=submit]),
.dvppl_cf7_styler_0 .dipe-cf7 select,
.dvppl_cf7_styler_0 .dipe-cf7 textarea,
.dvppl_cf7_styler_0 .dipe-cf7 .wpcf7-checkbox input[type="checkbox"]+span:before,
.dvppl_cf7_styler_0 .dipe-cf7 .wpcf7-acceptance input[type="checkbox"]+span:before,
.dvppl_cf7_styler_0 .dipe-cf7 .wpcf7-radio input[type="radio"]:not(:checked)+span:before {
    background-color: RGBA(255, 255, 255, 0)
}
.et_pb_accordion_0.et_pb_accordion .et_pb_accordion_item {
    border-width: 0px;
    border-color: #1B2031
}
.et_pb_accordion_0 .et_pb_toggle_open {
    background-color: #FFFFFF
}
.et_pb_accordion_0 .et_pb_toggle_close,
.et_pb_accordion_item_0.et_pb_toggle,
.et_pb_accordion_item_1.et_pb_toggle,
.et_pb_accordion_item_2.et_pb_toggle,
.et_pb_accordion_item_3.et_pb_toggle,
.et_pb_accordion_item_4.et_pb_toggle,
.et_pb_accordion_item_5.et_pb_toggle,
.et_pb_accordion_item_6.et_pb_toggle {
    background-color: #F2F2F2
}
.et_pb_accordion_0.et_pb_accordion .et_pb_toggle_open h5.et_pb_toggle_title,
.et_pb_accordion_0.et_pb_accordion .et_pb_toggle_open h1.et_pb_toggle_title,
.et_pb_accordion_0.et_pb_accordion .et_pb_toggle_open h2.et_pb_toggle_title,
.et_pb_accordion_0.et_pb_accordion .et_pb_toggle_open h3.et_pb_toggle_title,
.et_pb_accordion_0.et_pb_accordion .et_pb_toggle_open h4.et_pb_toggle_title,
.et_pb_accordion_0.et_pb_accordion .et_pb_toggle_open h6.et_pb_toggle_title {
    color: #1B2031!important
}
.et_pb_accordion_0 .et_pb_toggle_title:before {
    color: #1B2031
}
.et_pb_blurb_4.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_4.et_pb_blurb .et_pb_module_header a {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #7DA63F!important;
    line-height: 1.4em
}
.et_pb_blurb_4.et_pb_blurb p,
.et_pb_blurb_5.et_pb_blurb p,
.et_pb_blurb_6.et_pb_blurb p {
    line-height: 1.8em
}
.et_pb_blurb_4.et_pb_blurb {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 15px;
    line-height: 1.8em
}
.et_pb_blurb_4 .et_pb_main_blurb_image .et_pb_image_wrap {
    width: 80px
}
.et_pb_blurb_4 .et_pb_blurb_content,
.et_pb_blurb_5 .et_pb_blurb_content,
.et_pb_blurb_6 .et_pb_blurb_content,
.et_pb_blurb_7 .et_pb_blurb_content,
.et_pb_blurb_8 .et_pb_blurb_content,
.et_pb_blurb_9 .et_pb_blurb_content,
.et_pb_blurb_10 .et_pb_blurb_content {
    max-width: 1100px
}
body #page-container .et_pb_section .et_pb_button_1 {
    border-width: 12px!important;
    border-color: #7DA63F;
    border-radius: 0px;
    letter-spacing: 4px;
    font-size: 14px;
    font-family: 'Rubik', Helvetica, Arial, Lucida, sans-serif!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    background-color: #7DA63F
}
body #page-container .et_pb_section .et_pb_button_1:hover:after,
body #page-container .et_pb_section .et_pb_button_2:hover:after {
    margin-left: .3em;
    left: auto;
    margin-left: .3em;
    opacity: 1
}
body #page-container .et_pb_section .et_pb_button_1:after,
body #page-container .et_pb_section .et_pb_button_2:after {
    line-height: inherit;
    font-size: inherit!important;
    margin-left: -1em;
    left: auto;
    font-family: ETmodules!important;
    font-weight: 400!important;
    color:#0779ca;
}
body #page-container .et_pb_section .et_pb_button_1:hover,
body #page-container .et_pb_section .et_pb_button_2:hover {
    background-image: initial;
    background-color: #7DA63F;
    background-color: #0779ca;
    border-color:#0779ca !important;
}
.et_pb_button_1,
.et_pb_button_2 {
    transition: background-color 300ms ease 0ms
}
.et_pb_button_1,
.et_pb_button_1:after,
.et_pb_button_2,
.et_pb_button_2:after {
    transition: all 300ms ease 0ms
}
.et_pb_section_4.et_pb_section {
    background-color: #F2F2F2!important
}
.et_pb_row_8 {
    border-color: RGBA(255, 255, 255, 0)
}
.et_pb_text_6.et_pb_text {
    color: #0D0D0D!important
}
.et_pb_text_6 {
    line-height: 1.8em;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    margin-bottom: 40px!important
}
body #page-container .et_pb_section .et_pb_button_2 {
    border-width: 12px!important;
    border-color: #1B2031;
    border-radius: 0px;
    letter-spacing: 4px;
    font-size: 14px;
    font-family: 'Rubik', Helvetica, Arial, Lucida, sans-serif!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    background-color: #1B2031
}
.et_pb_image_3 .et_pb_image_wrap {
    border-color: #1B2031;
    box-shadow: 10px 10px 0px 0px #1B2031
}
.et_pb_image_3 {
    text-align: left;
    margin-left: 0
}
.et_pb_blurb_5.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_5.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_6.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_6.et_pb_blurb .et_pb_module_header a {
    font-family: 'Rubik', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    color: #0D0D0D!important;
    line-height: 1.4em
}
.et_pb_blurb_5.et_pb_blurb,
.et_pb_blurb_6.et_pb_blurb {
    font-size: 16px;
    color: #0D0D0D!important;
    line-height: 1.8em
}
.et_pb_blurb_5 .et-pb-icon,
.et_pb_blurb_6 .et-pb-icon {
    font-size: 56px;
    color: #9EBF6B;
    font-family: ETmodules!important;
    font-weight: 400!important
}
div.et_pb_section.et_pb_section_6 {
    background-image: url(https://amperio.com.ar/wp-content/uploads/2023/09/Atardecer-en-el-campo-scaled.jpg), radial-gradient(circle at center, #2b87da 0mm, #29c4a9 100mm)!important
}
.et_pb_section_6.et_pb_section {
    padding-bottom: 191px
}
.et_pb_section_8.et_pb_section {
    padding-top: 72px;
    padding-right: 0px;
    padding-bottom: 72px;
    padding-left: 0px;
    margin-bottom: -71px
}
.et_pb_section_9.et_pb_section {
    padding-top: 72px;
    padding-right: 0px;
    padding-bottom: 72px;
    padding-left: 0px;
    margin-bottom: -71px;
    background-color: #F2F2F2!important
}
.et_pb_text_7 h1 {
    font-family: 'Rubik', Helvetica, Arial, Lucida, sans-serif;
    text-align: center
}
.et_pb_text_7 h2 {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.5em;
    text-align: center
}
.et_pb_text_7 {
    padding-bottom: 30px!important
}
.et_pb_divider_0 {
    margin-top: -52px!important;
    max-width: 7%
}
.et_pb_divider_0:before {
    border-top-color: #383838;
    border-top-width: 4px
}
.et_pb_row_12.et_pb_row {
    padding-top: 0px!important;
    padding-right: 0px!important;
    padding-bottom: 0px!important;
    padding-left: 0px!important;
    padding-top: 0;
    padding-right: 0px;
    padding-bottom: 0;
    padding-left: 0px
}
.dica_divi_carouselitem_0.dica_divi_carouselitem .social-media,
.dica_divi_carouselitem_1.dica_divi_carouselitem .social-media,
.dica_divi_carouselitem_2.dica_divi_carouselitem .social-media,
.dica_divi_carouselitem_3.dica_divi_carouselitem .social-media,
.dica_divi_carouselitem_4.dica_divi_carouselitem .social-media,
.dica_divi_carouselitem_5.dica_divi_carouselitem .social-media,
.dica_divi_carouselitem_6.dica_divi_carouselitem .social-media,
.dica_divi_carouselitem_7.dica_divi_carouselitem .social-media,
.dica_divi_carouselitem_8.dica_divi_carouselitem .social-media {
    justify-content: flex-start!important
}
.dica_divi_carouselitem_0.dica_divi_carouselitem .dica-rating,
.dica_divi_carouselitem_1.dica_divi_carouselitem .dica-rating,
.dica_divi_carouselitem_2.dica_divi_carouselitem .dica-rating,
.dica_divi_carouselitem_3.dica_divi_carouselitem .dica-rating,
.dica_divi_carouselitem_4.dica_divi_carouselitem .dica-rating,
.dica_divi_carouselitem_5.dica_divi_carouselitem .dica-rating,
.dica_divi_carouselitem_6.dica_divi_carouselitem .dica-rating,
.dica_divi_carouselitem_7.dica_divi_carouselitem .dica-rating,
.dica_divi_carouselitem_8.dica_divi_carouselitem .dica-rating {
    text-align: left!important
}
.dica_divi_carousel .dica_divi_carouselitem_0 .social-media-container .social-media li a:before,
.dica_divi_carouselitem_0 .dica-rating span:before,
.dica_divi_carousel .dica_divi_carouselitem_1 .social-media-container .social-media li a:before,
.dica_divi_carouselitem_1 .dica-rating span:before,
.dica_divi_carousel .dica_divi_carouselitem_2 .social-media-container .social-media li a:before,
.dica_divi_carouselitem_2 .dica-rating span:before,
.dica_divi_carousel .dica_divi_carouselitem_3 .social-media-container .social-media li a:before,
.dica_divi_carouselitem_3 .dica-rating span:before,
.dica_divi_carousel .dica_divi_carouselitem_4 .social-media-container .social-media li a:before,
.dica_divi_carouselitem_4 .dica-rating span:before,
.dica_divi_carousel .dica_divi_carouselitem_5 .social-media-container .social-media li a:before,
.dica_divi_carouselitem_5 .dica-rating span:before,
.dica_divi_carousel .dica_divi_carouselitem_6 .social-media-container .social-media li a:before,
.dica_divi_carouselitem_6 .dica-rating span:before,
.dica_divi_carousel .dica_divi_carouselitem_7 .social-media-container .social-media li a:before,
.dica_divi_carouselitem_7 .dica-rating span:before,
.dica_divi_carousel .dica_divi_carouselitem_8 .social-media-container .social-media li a:before,
.dica_divi_carouselitem_8 .dica-rating span:before {
    font-size: 14px!important
}
.dica_divi_carousel_0 .dica_divi_carouselitem .dica-image-container .image {
    max-width: 200px
}
.dica_divi_carousel_0 .dica_divi_carouselitem .dica-image-container {
    text-align: center!important;
    z-index: 10!important
}
.dica_divi_carousel_0 .swiper-button-next:before,
.dica_divi_carousel_0 .swiper-button-prev:before {
    color: #FFFFFF!important
}
.dica_divi_carousel_0.dica_divi_carousel .swiper-button-next,
.dica_divi_carousel_0.dica_divi_carousel .swiper-button-prev {
    background-color: #1B2031!important
}
.dica_divi_carousel_0.dica_divi_carousel .swiper-pagination-bullet {
    background-color: #e0e0e0!important
}
.dica_divi_carousel_0.dica_divi_carousel .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #1B2031!important
}
.dica_divi_carousel_0.dica_divi_carousel .dica-container .swiper-wrapper .dica_divi_carouselitem {
    align-self: center
}
.dica_divi_carousel_0.dica_divi_carousel .dica-container .swiper-pagination {
    text-align: center
}
.dica_divi_carousel_0 .dica-container .swiper-button-next,
.dica_divi_carousel_0 .dica-container .swiper-button-prev {
    font-size: 53px;
    width: 53px;
    height: 53px
}
.dica_divi_carousel_0 .dica-container .swiper-buttton-container {
    justify-content: space-between
}
.dica_divi_carousel_0 .dica_divi_carouselitem .dica-item-content {
    z-index: 10!important
}
.dica_divi_carousel_0 .dica_divi_carouselitem {
    width: calc(100%/8)
}
.et_pb_section_10,
.et_pb_section_11 {
    min-height: 830.2px
}
.et_pb_section_10.et_pb_section {
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: -2px
}
.et_pb_section_11.et_pb_section {
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: -2px;
    background-color:#0779ca!important;
}
.et_pb_text_8 h2 {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 1.2em
}
.et_pb_row_14 {
    min-height: 630.8px
}
.et_pb_row_14.et_pb_row {
    padding-bottom: 33px!important;
    margin-right: auto!important;
    margin-bottom: -14px!important;
    margin-left: auto!important;
    padding-bottom: 33px
}
.dvppl_cf7_styler_0 .dipe-cf7 .wpcf7 input:not([type=submit]),
.dvppl_cf7_styler_0 .dipe-cf7 .wpcf7 input::placeholder,
.dvppl_cf7_styler_0 .dipe-cf7 .wpcf7 select,
.dvppl_cf7_styler_0 .dipe-cf7 .wpcf7 textarea,
.dvppl_cf7_styler_0 .dipe-cf7 .wpcf7 textarea::placeholder {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif!important;
    font-size: 14px!important
}
.dvppl_cf7_styler_0 .dipe-cf7 .wpcf7 label,
.dvppl_cf7_styler_0 .dipe-cf7 .wpcf7 input::placeholder,
.dvppl_cf7_styler_0 .dipe-cf7 .wpcf7 textarea::placeholder {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif!important
}
.dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 input:not([type=submit]),
.dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 input[type=email],
.dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 input[type=text],
.dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 input[type=url],
.dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 input[type=tel],
.dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 input[type=date],
.dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 select,
.dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 textarea {
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    border-width: 1px 1px 2px 1px!important;
    border-color: #FFFFFF!important
}
.dvppl_cf7_styler_0 {
    width: 80%;
    max-width: 80%
}
body #page-container .et_pb_section .dvppl_cf7_styler_0 .wpcf7-form input[type=submit] {
    color: #0D0D0D!important;
    border-width: 1px!important;
    border-color: #FFFFFF;
    border-radius: 0px;
    font-size: 18px;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif!important;
    background-color: #FFFFFF!important
}
body #page-container .et_pb_section .dvppl_cf7_styler_0 .wpcf7-form input[type=submit]:hover {
    padding-right: 2em;
    padding-left: 0.7em
}
body #page-container .et_pb_section .dvppl_cf7_styler_0 .wpcf7-form input[type=submit],
body #page-container .et_pb_section .dvppl_cf7_styler_0 .wpcf7-form input[type=submit]:hover {
    padding: 0.3em 1em!important
}
body #page-container .et_pb_section .dvppl_cf7_styler_0 .wpcf7-form input[type=submit]:before,
body #page-container .et_pb_section .dvppl_cf7_styler_0 .wpcf7-form input[type=submit]:after {
    display: none!important
}
.dvppl_cf7_styler_0 .dipe-form-header-container {
    background-color: ;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px
}
.dvppl_cf7_styler_0 .dipe-form-header-icon,
.dvppl_cf7_styler_0 .dipe-form-header-image {
    background-color:
}
.dvppl_cf7_styler_0 .dipe-form-header-icon span {
    color:
}
.dvppl_cf7_styler_0 .dipe-cf7-styler {
    background-color: ;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px
}
.dvppl_cf7_styler_0 .dipe-cf7-container .wpcf7-form-control:not(.wpcf7-submit) {
    margin-top: 7px!important;
}
.dvppl_cf7_styler_0 .dipe-cf7 .wpcf7 form>p,
.dipe-cf7 .wpcf7 form>div,
.dipe-cf7 .wpcf7 form>label .dvppl_cf7_styler_0 .dipe-cf7 .wpcf7 form .dp-col>p,
.dipe-cf7 .wpcf7 form .dp-col>div,
.dipe-cf7 .wpcf7 form .dp-col>label {
    margin-bottom: 1px!important;
}
.dvppl_cf7_styler_0 .wpcf7-form-control-wrap select,
.dvppl_cf7_styler_0 .wpcf7-form-control-wrap input[type=text],
.dvppl_cf7_styler_0 .wpcf7-form-control-wrap input[type=email],
.dvppl_cf7_styler_0 .wpcf7-form-control-wrap input[type=number],
.dvppl_cf7_styler_0 .wpcf7-form-control-wrap input[type=tel] {
    height: 14px!important;
}
.dvppl_cf7_styler_0 .dipe-cf7-container .wpcf7 input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
.dvppl_cf7_styler_0 .dipe-cf7-container .wpcf7 select,
.dvppl_cf7_styler_0 .dipe-cf7-container .wpcf7 textarea {
    padding-top: 14px!important;
    padding-right: 18px!important;
    padding-bottom: 14px!important;
    padding-left: 18px!important
}
.dvppl_cf7_styler_0 .dipe-cf7 .wpcf7 input[type=submit],
.dvppl_cf7_styler_0 .wpcf7-form button.wpcf7-submit {
    width: 100%!important
}
.dvppl_cf7_styler_0 .dipe-cf7 .wpcf7 input:not([type=submit]):focus,
.dvppl_cf7_styler_0 .dipe-cf7 .wpcf7 select:focus,
.dvppl_cf7_styler_0 .dipe-cf7 .wpcf7 textarea:focus {
    border-color: #FFFFFF
}
.dvppl_cf7_styler_0 .wpcf7 form .wpcf7-response-output,
.dvppl_cf7_styler_0 .wpcf7 form span.wpcf7-not-valid-tip {
    text-align: left
}
.dvppl_cf7_styler_0 .wpcf7 form.sent .wpcf7-response-output {
    background-color: !important;
    border-color:
}
.dvppl_cf7_styler_0 .wpcf7 form .wpcf7-response-output {
    color: !important;
    background-color: !important;
    border-color: !important
}
.dvppl_cf7_styler_0 span.wpcf7-not-valid-tip {
    padding: 0px!important;
    margin-top: 0px!important
}
.et_pb_image_4 {
    margin-top: 27px!important;
    margin-bottom: 80px!important;
    width: 15%;
    max-width: 15%;
    text-align: center
}
.et_pb_blurb_7.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_7.et_pb_blurb .et_pb_module_header a {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2em;
    text-align: center
}
.et_pb_blurb_7.et_pb_blurb {
    margin-top: 20px!important;
    margin-bottom: 20px!important
}
.et_pb_blurb_7 .et_pb_main_blurb_image .et_pb_image_wrap {
    width: 22px
}
.et_pb_blurb_8.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_8.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_9.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_9.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_10.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_10.et_pb_blurb .et_pb_module_header a {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px;
    line-height: 1.2em
}
.et_pb_blurb_8.et_pb_blurb,
.et_pb_blurb_9.et_pb_blurb,
.et_pb_blurb_10.et_pb_blurb {
    margin-bottom: 20px!important
}
.et_pb_blurb_8 .et-pb-icon,
.et_pb_blurb_9 .et-pb-icon,
.et_pb_blurb_10 .et-pb-icon {
    font-size: 22px;
    color: #E9F2D5;
    font-family: ETmodules!important;
    font-weight: 400!important
}
.et_pb_text_3.et_pb_module,
.et_pb_divider_0.et_pb_module,
.dvppl_cf7_styler_0.et_pb_module {
    margin-left: auto!important;
    margin-right: auto!important
}
@media only screen and (min-width: 981px) {
    .et_pb_row_12,
    body #page-container .et-db #et-boc .et-l .et_pb_row_12.et_pb_row,
    body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_12.et_pb_row,
    body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_12.et_pb_row {
        width: 89%;
        max-width: 89%
    }
}
@media only screen and (max-width: 980px) {
    .et_pb_image_2 .et_pb_image_wrap img,
    .et_pb_image_3 .et_pb_image_wrap img,
    .et_pb_image_4 .et_pb_image_wrap img {
        width: auto
    }
    .et_pb_text_3 h1 {
        font-size: 44px
    }
    body #page-container .et_pb_section .et_pb_button_1:after,
    body #page-container .et_pb_section .et_pb_button_2:after {
        line-height: inherit;
        font-size: inherit!important;
        margin-left: -1em;
        left: auto;
        display: inline-block;
        opacity: 0;
        content: attr(data-icon);
        font-family: ETmodules!important;
        font-weight: 400!important
    }
    body #page-container .et_pb_section .et_pb_button_1:before,
    body #page-container .et_pb_section .et_pb_button_2:before {
        display: none
    }
    body #page-container .et_pb_section .et_pb_button_1:hover:after,
    body #page-container .et_pb_section .et_pb_button_2:hover:after {
        margin-left: .3em;
        left: auto;
        margin-left: .3em;
        opacity: 1
    }
    body #page-container .et_pb_section .et_pb_button_2 {
        background-image: initial
    }
    .et_pb_row_12,
    body #page-container .et-db #et-boc .et-l .et_pb_row_12.et_pb_row,
    body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_12.et_pb_row,
    body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_12.et_pb_row {
        width: 80%;
        max-width: 80%
    }
    .dica_divi_carousel .dica_divi_carouselitem_0 .social-media-container .social-media li a:before,
    .dica_divi_carouselitem_0 .dica-rating span:before,
    .dica_divi_carousel .dica_divi_carouselitem_1 .social-media-container .social-media li a:before,
    .dica_divi_carouselitem_1 .dica-rating span:before,
    .dica_divi_carousel .dica_divi_carouselitem_2 .social-media-container .social-media li a:before,
    .dica_divi_carouselitem_2 .dica-rating span:before,
    .dica_divi_carousel .dica_divi_carouselitem_3 .social-media-container .social-media li a:before,
    .dica_divi_carouselitem_3 .dica-rating span:before,
    .dica_divi_carousel .dica_divi_carouselitem_4 .social-media-container .social-media li a:before,
    .dica_divi_carouselitem_4 .dica-rating span:before,
    .dica_divi_carousel .dica_divi_carouselitem_5 .social-media-container .social-media li a:before,
    .dica_divi_carouselitem_5 .dica-rating span:before,
    .dica_divi_carousel .dica_divi_carouselitem_6 .social-media-container .social-media li a:before,
    .dica_divi_carouselitem_6 .dica-rating span:before,
    .dica_divi_carousel .dica_divi_carouselitem_7 .social-media-container .social-media li a:before,
    .dica_divi_carouselitem_7 .dica-rating span:before,
    .dica_divi_carousel .dica_divi_carouselitem_8 .social-media-container .social-media li a:before,
    .dica_divi_carouselitem_8 .dica-rating span:before {
        font-size: 14px!important
    }
    .dica_divi_carousel_0 .dica_divi_carouselitem .dica-image-container,
    .dica_divi_carousel_0 .dica_divi_carouselitem .dica-item-content {
        z-index: 10!important
    }
    .dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 input:not([type=submit]),
    .dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 input[type=email],
    .dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 input[type=text],
    .dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 input[type=url],
    .dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 input[type=tel],
    .dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 input[type=date],
    .dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 select,
    .dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 textarea {
        border-bottom-width: 2px!important
    }
}
@media only screen and (max-width: 767px) {
    .et_pb_image_2 .et_pb_image_wrap img,
    .et_pb_image_3 .et_pb_image_wrap img,
    .et_pb_image_4 .et_pb_image_wrap img {
        width: auto
    }
    .et_pb_text_3 h1 {
        font-size: 32px
    }
    .et_pb_text_4 h2,
    .et_pb_text_5 h2,
    .et_pb_text_8 h2 {
        font-size: 36px
    }
    body #page-container .et_pb_section .et_pb_button_1:after,
    body #page-container .et_pb_section .et_pb_button_2:after {
        line-height: inherit;
        font-size: inherit!important;
        margin-left: -1em;
        left: auto;
        display: inline-block;
        opacity: 0;
        content: attr(data-icon);
        font-family: ETmodules!important;
        font-weight: 400!important;
    }
    body #page-container .et_pb_section .et_pb_button_1:before,
    body #page-container .et_pb_section .et_pb_button_2:before {
        display: none
    }
    body #page-container .et_pb_section .et_pb_button_1:hover:after,
    body #page-container .et_pb_section .et_pb_button_2:hover:after {
        margin-left: .3em;
        left: auto;
        margin-left: .3em;
        opacity: 1
    }
    body #page-container .et_pb_section .et_pb_button_2 {
        background-image: initial
    }
    .dica_divi_carousel .dica_divi_carouselitem_0 .social-media-container .social-media li a:before,
    .dica_divi_carouselitem_0 .dica-rating span:before,
    .dica_divi_carousel .dica_divi_carouselitem_1 .social-media-container .social-media li a:before,
    .dica_divi_carouselitem_1 .dica-rating span:before,
    .dica_divi_carousel .dica_divi_carouselitem_2 .social-media-container .social-media li a:before,
    .dica_divi_carouselitem_2 .dica-rating span:before,
    .dica_divi_carousel .dica_divi_carouselitem_3 .social-media-container .social-media li a:before,
    .dica_divi_carouselitem_3 .dica-rating span:before,
    .dica_divi_carousel .dica_divi_carouselitem_4 .social-media-container .social-media li a:before,
    .dica_divi_carouselitem_4 .dica-rating span:before,
    .dica_divi_carousel .dica_divi_carouselitem_5 .social-media-container .social-media li a:before,
    .dica_divi_carouselitem_5 .dica-rating span:before,
    .dica_divi_carousel .dica_divi_carouselitem_6 .social-media-container .social-media li a:before,
    .dica_divi_carouselitem_6 .dica-rating span:before,
    .dica_divi_carousel .dica_divi_carouselitem_7 .social-media-container .social-media li a:before,
    .dica_divi_carouselitem_7 .dica-rating span:before,
    .dica_divi_carousel .dica_divi_carouselitem_8 .social-media-container .social-media li a:before,
    .dica_divi_carouselitem_8 .dica-rating span:before {
        font-size: 14px!important
    }
    .dica_divi_carousel_0 .dica_divi_carouselitem .dica-image-container,
    .dica_divi_carousel_0 .dica_divi_carouselitem .dica-item-content {
        z-index: 10!important
    }
    .dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 input:not([type=submit]),
    .dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 input[type=email],
    .dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 input[type=text],
    .dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 input[type=url],
    .dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 input[type=tel],
    .dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 input[type=date],
    .dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 select,
    .dvppl_cf7_styler_0 .dipe-cf7-styler .wpcf7 textarea {
        border-bottom-width: 2px!important
    }
}